.countdown {
  background: linear-gradient(#368af4, #3181f2);
  color: #fff;
  font-size: 1.8rem;
  padding: 25px;

}
.countdown__icons {
  display: none;
  float: right;
  cursor: pointer;
  transition: 0.3s linear;
}

.countdown:hover .countdown__icons {
  display: block;
}
